.wrapper {
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
}

.wrapper .ex1-wrapper {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ex1-wrapper .h2 {
    font-size: 3rem;
}

.wrapper .ex2-wrapper {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrapper .ex3-wrapper {
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}